<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-9 col-lg-12 col-xl-10">
      <div class="card shadow-lg o-hidden border-0 my-5">
        <div class="card-body p-0">
          <div class="row">
            <div class="col-lg-6 d-none d-lg-flex">
              <div
                class="flex-grow-1 bg-login-image"
                style="background-image: url('assets/img/food.jpg')"
              ></div>
            </div>
            <div class="col-lg-6">
              <div class="p-5">
                <div class="text-center">
                  <h1>Welcome Back!</h1>
                </div>
                <form class="user" [formGroup]="loginForm" (ngSubmit)="login()">
                  <div class="form-group">
                    <input
                      class="form-control form-control-user"
                      type="username"
                      formControlName="username"
                      placeholder="Username"
                      [ngClass]="{
                        'is-invalid':
                          submitted && loginForm.get('username').invalid
                      }"
                      name="username"
                    />
                    <div
                      class="invalid-feedback"
                      *ngIf="submitted && loginForm.get('username').invalid"
                    >
                      <div *ngIf="loginForm.get('username').errors['required']">
                        * Required
                      </div>
                      <div
                        *ngIf="
                          loginForm.get('username').errors[
                            'serverValidationError'
                          ]
                        "
                      >
                        {{
                          loginForm.controls["username"].errors
                            .serverValidationError
                        }}
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <input
                      class="form-control form-control-user"
                      type="password"
                      formControlName="password"
                      type="password"
                      id="exampleInputPassword"
                      placeholder="Password"
                      name="password"
                      [ngClass]="{
                        'is-invalid':
                          submitted && loginForm.get('password').invalid
                      }"
                    />
                    <div
                      class="invalid-feedback"
                      *ngIf="submitted && loginForm.get('password').invalid"
                    >
                      <div *ngIf="loginForm.get('password').errors['required']">
                        * Required
                      </div>
                      <div
                        *ngIf="
                          loginForm.get('password').errors[
                            'serverValidationError'
                          ]
                        "
                      >
                        {{
                          loginForm.controls["password"].errors
                            .serverValidationError
                        }}
                      </div>
                    </div>
                  </div>
                  <!-- <div class="form-group">
                    <div class="custom-control custom-checkbox small">
                      <div class="form-check">
                        <input
                          class="form-check-input custom-control-input"
                          type="checkbox"
                          id="formCheck-1"
                        /><label
                          class="form-check-label custom-control-label"
                          for="formCheck-1"
                          >Remember Me</label
                        >
                      </div>
                    </div>
                  </div> -->
                  <button
                    class="btn btn-primary btn-block text-white btn-user"
                    type="submit"
                  >
                    <span
                      *ngIf="loadingService.loading"
                      class="spinner-border spinner-border-sm"
                    ></span>
                    Login
                  </button>
                  <hr />
                </form>
                <div class="text-center">
                  <a class="small" [routerLink]="['forgotpassword']"
                    >Forgot Password?
                  </a>
                </div>
                <div class="text-center"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
