<div>
  <div class="d-flex flex-column" id="content-wrapper">
    <div id="content">
      <div class="container-fluid">
        <h2 class="text-dark mb-4">Raw Materials</h2>
        <div class="card shadow">
          <div class="card-header py-3">
            <p class="text-primary m-0 font-weight-bold">
              Raw Materials
              <button
                *ngIf="role === 'Admin'"
                class="btn btn-primary align-content-end float-right"
                type="button"
                (click)="navigate()"
              >
                Add Raw Material
              </button>
            </p>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-6 text-nowrap">
                <div
                  id="dataTable_length"
                  class="dataTables_length"
                  aria-controls="dataTable"
                ></div>
              </div>
              <div class="col-md-6">
                <div
                  class="text-md-right dataTables_filter"
                  id="dataTable_filter"
                ></div>
              </div>
            </div>
            <div
              class="table-responsive table mt-2"
              id="dataTable"
              role="grid"
              aria-describedby="dataTable_info"
            >
              <table class="table my-0" id="dataTable">
                <thead class="colour">
                  <tr>
                    <!-- <th scope="col">Id</th> -->
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Qty</th>
                    <th scope="col">Unit</th>
                    <th scope="col">Warehouse Name</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let rawMaterial of rawMaterials">
                    <!-- <th scope="row">{{product.productId}}</th> -->
                    <td>{{ rawMaterial.materialName }}</td>
                    <td>{{ rawMaterial.description }}</td>
                    <td>{{ rawMaterial.quantityAvailable }}</td>
                    <td>{{ rawMaterial.quantityUnit }}</td>
                    <td>{{ rawMaterial.warehouse.name }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
