.panel-title {
  font-size: xx-large;
  margin: 30px 0 30px 20px;
}

.panel {
  margin: 12px;
}

.panel-heading {
  width: 100%;
}

.edit {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  /* align-items: flex-end; */
  /* width: 200px; */
}

.userdata {
  color: #184e8e;
  font-weight: bold;
  font-size: larger;
}

.spinner-container {
  text-align-last: center;
}
