<div>
  <div class="d-flex flex-column" id="content-wrapper">
    <div id="content">
      <div class="container-fluid">
        <h3 class="text-dark mb-4">Profile</h3>
        <div class="card shadow mb-5">
          <div class="card-header py-3">
            <p class="text-primary m-0 font-weight-bold">Details</p>
          </div>
          <div class="card-body">
            <form>
              <div class="form-row">
                <div class="col">
                  <div class="form-group">
                    <label for="city"><strong>First Name</strong><br /></label
                    ><input
                      class="form-control"
                      type="text"
                      placeholder="John"
                      name="firstName"
                    />
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label for="country"><strong>Last Name</strong></label
                    ><input
                      class="form-control"
                      type="text"
                      placeholder="Doe"
                      name="lastName"
                    />
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="col">
                  <div class="form-group">
                    <label for="phoneNo"><strong>Phone No</strong><br /></label
                    ><input
                      class="form-control"
                      type="text"
                      placeholder="Enter Phone No."
                      name="phoneNo"
                    />
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label for="email"><strong>Email</strong><br /></label
                    ><input
                      class="form-control"
                      type="text"
                      placeholder="Email"
                      name="email"
                    />
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="col">
                  <div class="form-group">
                    <label for="designation"
                      ><strong>Designation</strong><br /></label
                    ><input
                      class="form-control"
                      type="text"
                      placeholder="Designation"
                      name="designation"
                    />
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label for="email"><strong>Gender</strong><br /></label
                    ><select class="form-control" male="Male" female="Female">
                      <optgroup label="This is a group">
                        <option value="12" selected="">This is item 1</option>
                        <option value="13">This is item 2</option>
                        <option value="14">This is item 3</option>
                      </optgroup>
                    </select>
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="col">
                  <div class="form-group">
                    <label for="dob"><strong>Designation</strong><br /></label
                    ><input class="form-control" type="Date" />
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
        <!-- Address -->
        <div class="card shadow mb-5">
          <div class="card-header py-3">
            <p class="text-primary m-0 font-weight-bold">Address</p>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label for="city"><strong>City</strong></label
                  ><input
                    type="text"
                    class="form-control"
                    placeholder="Los Angeles"
                    name="city"
                  />
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label for="country"><strong>Street</strong></label
                  ><input
                    type="text"
                    class="form-control"
                    placeholder="Street"
                    name="street"
                  />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label for="city"><strong>Pincode</strong></label
                  ><input
                    type="text"
                    class="form-control"
                    placeholder="Enter Pincode"
                    name="pincode"
                  />
                </div>
              </div>
              <div class="col">
                <div class="form-group"></div>
              </div>
            </div>
          </div>
        </div>
        <!-- Credentials -->
        <div class="card shadow mb-5">
          <div class="card-header py-3">
            <p class="text-primary m-0 font-weight-bold">Credentials</p>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label for="city"><strong>Password</strong></label
                  ><input
                    type="password"
                    class="form-control"
                    placeholder="Enter Password"
                    name="password"
                  />
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label for="country"><strong>Re-enter Password</strong></label
                  ><input
                    type="text"
                    class="form-control"
                    placeholder="Re-enter Password"
                    name="password2"
                  />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label for="city"><strong>Username</strong></label
                  ><input
                    type="text"
                    class="form-control"
                    placeholder="Enter Username"
                    name="username"
                  />
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <br />
                  <button
                    class="btn btn-primary mt-2"
                    style="width: 100%"
                    type="Submit"
                  >
                    Save User
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
