<p>footer works!</p>
<div id="wrapper">
  <nav
    class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0"
  >
    <div class="container-fluid d-flex flex-column p-0">
      <a
        id="logo"
        class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0"
        href="#"
      >
        <div class="sidebar-brand-icon rotate-n-15">
          <i class="fas fa-cocktail"></i>
        </div>
        <div class="sidebar-brand-text mx-3"><span>Drink & Delight</span></div>
      </a>
      <hr class="nav-hr" />
      <a
        id="role"
        class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0"
        href="#"
      >
        <div class="sidebar-brand-icon rotate-n-15"></div>
        <div class="sidebar-brand-text mx-3"><span>Admin</span></div>
      </a>
      <hr class="nav-hr" />
      <ul class="nav navbar-nav text-light" id="accordionSidebar">
        <li class="nav-item"></li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/dashboard/viewprofile']">
            <i class="fas fa-user"></i><span>Profile</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/dashboard/productorders']">
            <i class="fas fa-truck-moving"></i><span>Products Orders</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/dashboard/products']"
            ><i class="fas fa-boxes"></i><span>Products</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/dashboard/rawmaterialorders']">
            <i class="fas fa-truck-moving"></i><span>RM Orders</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/dashboard/rawmaterials']">
            <i class="fas fa-boxes"> </i><span>Raw Materials</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/dashboard/suppliers']">
            <i class="fas fa-people-carry"></i><span>Suppliers</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/dashboard/distributors']">
            <i class="fas fa-people-carry"></i><span>Distributors</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/dashboard/users']">
            <i class="fas fa-users"></i><span>Manage Users</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="signOut()" style="cursor: pointer;">
            <i class="fas fa-sign-out-alt"> </i><span>Sign Out</span>
          </a>
        </li>
      </ul>
      <div class="text-center d-none d-md-inline">
        <button
          class="btn rounded-circle border-0"
          id="sidebarToggle"
          type="button"
        ></button>
      </div>
    </div>
  </nav>
</div>
