<div>
    <div class="d-flex flex-column" id="content-wrapper">
      <div id="content">
        <div class="container-fluid">
          <h3 class="text-dark mb-4">Add Raw Materials</h3>
          <div class="card shadow">
            <div class="card-header py-3">
              <p class="text-primary m-0 font-weight-bold">Details</p>
            </div>
            <div class="card-body">
              <form>
                <div class="form-row">
                  <div class="col">
                    <div class="form-group">
                      <label for="Raw Material"><strong>Raw Material Name</strong><br /></label>
                      <input class="form-control" type="text" placeholder="Raw Material Name" name="Raw Material">
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-group">
                      <label for="description"><strong>Description</strong><br /></label>
                      <input class="form-control" type="text" placeholder="Description" name="description">
                    </div>
                  </div>
                </div>
                <div class="form-row">
                  <div class="col">
                    <div class="form-group">
                      <label for="quantity"><strong>Quantity</strong><br /></label><input class="form-control"
                        type="number" placeholder="Quantity" name="quantity" />
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-group">
                      <label for="Qty Unit"><strong>Quantity Unit</strong><br /></label><select class="form-control">
                        <optgroup label="Quantity Parameters">
                          <option value="Litre" selected="">Litre</option>
                          <option value="Kilogram">Kilogram</option>
                        </optgroup>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="form-row">
                  <div class="col">
                    <div class="form-group">
                      <label for="warehouse"><strong>Warehouse ID</strong><br /></label><input class="form-control"
                        type="number" name="warehouse" />
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-group text-center">
                      <label for="submit"></label><br>
                      <button class="btn btn-primary" type="submit" name="submit">
                        ADD RAW MATERIAL
                      </button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
