<br><br>
<h1>Update Supplier</h1><br>
<div style="width: 900px;" >
  <form #supplierdetails="ngForm" (ngSubmit)="onSubmit()">

    <div class="form-group" >
        <label for="name">Name of Supplier : </label>
        <input class="form-control" type="name" [(ngModel)]="supplier.name" name="name" required placeholder="Enter Supplier's Name" 
          #name=ngModel   [class.is-invalid]="(name.invalid && name.touched)"
          >
          <div *ngIf="name.errors && (name.invalid && name.touched)">
            <small class="text-danger" *ngIf="name.errors.required">Name is required field</small>
          
          </div>
        </div>

      <div class="form-group">
        <label for="location">Location : </label>
        <input class="form-control" type="location" [(ngModel)]="supplier.location" name="location" required placeholder="Enter Supplier's Location" pattern="[A-Z][A-Za-z]{2,}"
          #location=ngModel   [class.is-invalid]="(location.invalid && location.touched)"
          >
          <div *ngIf="location.errors && (location.invalid && location.touched)">
            <small class="text-danger" *ngIf="location.errors.required">Location is required field</small>
          </div> </div>

      <div class="form-group">
        <label for="phoneNo">Phone number : </label>
        <input class="form-control" type="phoneNo" [(ngModel)]="supplier.phoneNo" name="phoneNo" required placeholder="Enter Suppliers's Phone number"
          #phoneNo=ngModel  [class.is-invalid]="(phoneNo.invalid && location.touched)">
        <div *ngIf="phoneNo.errors && (phoneNo.invalid && phoneNo.touched)" >
            <small class="text-danger" *ngIf="phoneNo.errors.required">Phone Number is required field</small>
        </div> 
      </div>

<br>
    <button type="submit" [disabled]=supplierdetails.invalid class="btn btn-primary">Submit</button>
  </form>
</div>
