<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-9 col-lg-8 col-xl-8">
      <div class="card shadow-lg o-hidden border-0 my-5">
        <div class="card-body p-0">
          <div class="p-5">
            <div class="text-center">
              <h1>Reset Password</h1>
            </div>
            <form
              class="user"
              [formGroup]="resetPasswordForm"
              (ngSubmit)="resetPassword()"
            >
              <div class="form-group">
                <input
                  class="form-control form-control-user"
                  type="username"
                  formControlName="username"
                  placeholder="Username"
                  name="username"
                />
              </div>

              <div class="form-group">
                <label for="securityAnswer" style="font-weight: bold">
                  Question. {{ question }}
                </label>
                <input
                  class="form-control form-control-user"
                  type="text"
                  formControlName="securityAnswer"
                  type="text"
                  placeholder="Enter Answer"
                  name="securityAnswer"
                  [ngClass]="{'is-invalid':submitted && resetPasswordForm.get('securityAnswer').invalid}"
                />
                <div class="invalid-feedback" *ngIf="submitted && resetPasswordForm.get('securityAnswer').invalid">
                  <div *ngIf="resetPasswordForm.get('securityAnswer').errors['required']">
                    * Required
                  </div>
                  <div *ngIf="resetPasswordForm.get('securityAnswer').errors['serverValidationError']">
                    {{resetPasswordForm.controls["securityAnswer"].errors.serverValidationError}}
                  </div>
                </div>
              </div>

              <div class="form-group">
                <input
                  class="form-control form-control-user"
                  type="password"
                  formControlName="newPassword"
                  type="password"
                  placeholder="Enter New Password"
                  name="newPassword"
                  [ngClass]="{'is-invalid':submitted && resetPasswordForm.get('newPassword').invalid}"
                />
                <div class="invalid-feedback" *ngIf="submitted && resetPasswordForm.get('newPassword').invalid">
                  <div *ngIf="resetPasswordForm.get('newPassword').errors['required']">
                    * Required
                  </div>
                  <div *ngIf="resetPasswordForm.get('newPassword').errors['serverValidationError']">
                    {{resetPasswordForm.controls["newPassword"].errors.serverValidationError}}
                  </div>
                </div>
              </div>
              <button
                class="btn btn-primary btn-block text-white btn-user"
                type="submit"
              >
                <span
                  *ngIf="loadingService.loading"
                  class="spinner-border spinner-border-sm"
                ></span>
                Reset Password
              </button>
            </form>
            <hr />
            <div *ngIf="success" class="alert alert-success" role="alert">
              Sucessfully Updated Password
            </div>
            <div class="text-center">
              <a class="mr-1" [routerLink]="['/login/forgotpassword']">Back</a>
              |
              <a class="ml-1" [routerLink]="['/login']"> Login</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
