<div>
  <div class="d-flex flex-column" id="content-wrapper">
    <div id="content">
      <div class="container-fluid">
        <h3 class="text-dark mb-4">Create Product Order</h3>
        <div class="card shadow">
          <div class="card-header py-3">
            <p class="text-primary m-0 font-weight-bold">Details</p>
          </div>
          <div class="card-body">
            <form>
              <div class="form-row">
                <div class="col">
                  <div class="form-group">
                    <label for="city"
                      ><strong>Select Product</strong><br /></label
                    ><select class="form-control">
                      <optgroup label="This is a group">
                        <option value="12" selected="">This is item 1</option>
                        <option value="13">This is item 2</option>
                        <option value="14">This is item 3</option>
                      </optgroup>
                    </select>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label for="country"><strong>Supplier</strong><br /></label
                    ><select class="form-control">
                      <optgroup label="This is a group">
                        <option value="12" selected="">This is item 1</option>
                        <option value="13">This is item 2</option>
                        <option value="14">This is item 3</option>
                      </optgroup>
                    </select>
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="col">
                  <div class="form-group">
                    <label for="phoneNo"><strong>Quantity</strong><br /></label
                    ><input
                      class="form-control"
                      type="number"
                      placeholder="Quantity"
                      name="quantity"
                    />
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label for="email"
                      ><strong>Delivery Date</strong><br /></label
                    ><input class="form-control" type="date" />
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="col">
                  <div class="form-group">
                    <label for="designation"
                      ><strong>Manufacturing Date</strong><br /></label
                    ><input class="form-control" type="date" />
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label for="email"><strong>Expiry Date</strong><br /></label
                    ><input class="form-control" type="date" />
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="col">
                  <div class="form-group">
                    <label for="dob"><strong>Quality Check</strong><br /></label
                    ><select class="form-control">
                      <optgroup label="This is a group">
                        <option value="12" selected="">This is item 1</option>
                        <option value="13">This is item 2</option>
                        <option value="14">This is item 3</option>
                      </optgroup>
                    </select>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label for="dob"><strong>Order Status</strong><br /></label
                    ><input
                      class="form-control"
                      type="text"
                      placeholder="Processing"
                    />
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="col">
                  <div class="form-group">
                    <button class="btn btn-primary" type="button">
                      Button
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
