<!-- <p>view-profile works!</p> -->
<br />
<br />
<div class="container">
  <label>
    <h1>Suppliers List</h1>
  </label>
  <br />
  <br />

  <table class="table table-hover">
    <thead>
      <tr>
        <th>Supplier Id</th>
        <th>Name</th>
        <th>Location</th>
        <th>Phone Number</th>

        <th
          *ngIf="role === 'Admin'"
          [routerLink]="['/dashboard/addsupplier']"
        >
          <button type="submit" class="btn btn-success">
            Add New Supplier
          </button>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let supplier of suppliers">
        <td>{{ supplier.supplierId }}</td>
        <td>{{ supplier.name }}</td>
        <td>{{ supplier.location }}</td>
        <td>{{ supplier.phoneNo }}</td>
        <td>
          <button
            (click)="updateSupplier(supplier.supplierId)"
            class="btn btn-primary"
            style="margin-left: 10px"
            *ngIf="role === 'Admin'"
          >
            Edit
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<br />
