@import "assets/css/Header-Blue.css";
@import "assets/css/Navigation-with-Button.css";

#wrapper {
  width: 20%;
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: #184e8e;
}

#main-outlet {
  width: 80%;
  float: right;
  padding: 12px;
}

.fas {
  margin: 8px;
}

#logo {
  margin: 18px 8px !important;
}
#role {
  margin: 8px !important;
}

.nav-item {
  align-items: flex-start;
}

